	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/08/2019 19:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-whatsapp:before { content: "\f105"; }
.flaticon-whatsapp:hover { color:#00ad59; }

.flaticon-facebook:before { content: "\f100"; }
.flaticon-facebook:hover { color:#4267b2; }

.flaticon-instagram:before { content: "\f101"; }
.flaticon-instagram:hover { color:#e85354; }

.flaticon-youtube:before { content: "\f104"; }
.flaticon-youtube:hover { color:#ff0000; }

.flaticon-twitter:before { content: "\f102"; }
.flaticon-twitter:hover { color:#55acef;}

.flaticon-linkedin:before { content: "\f103"; }
.flaticon-linkedin:hover { color:#0077b5; }

[class^="flaticon-"]{
  transition: 300ms ease all;
  cursor: pointer;
}